.date-range-group {
    position: relative;

    .date-range {
        min-width: 155px;
    }

    .date-range-dropdown {
        padding: 0;
        min-width: 150px;
        border: 1px solid transparent;
        border-color: darken($action-link-default-color, 14%);
        border-radius: $action-link-border-radius-base;

        a {
            color: $action-link-default-color;
            @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $action-link-border-radius-base);

            &:hover {
                background: transparent;
            }
        }
    }
}
