<!-- prettier-ignore -->

<div class="container margin-top">
    <div class="row">
        <div class="column-md-8">
            <div class="infobox infobox-giveaway">
                <h2 class="infobox-title">Giveaway workflow!</h2>
                <p>
                    Description of the campaign. Cras dui nibh tristique vitae <br />
                    nulla nunc donec. Amet in purus quis ut imperdiet. Feugiat <br />
                    aenean posuere adipiscing lacus.
                </p>
                <a href="#" class="action-link action-link-primary"> Buy campaign </a>
                <a href="#" class="action-link action-link-link"> Remind me later </a>
            </div>
        </div>
        <div class="column-md-4">
            <div class="infobox infobox-notice infobox-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3>Did you know...</h3>
                <p>
                    that 69.57% of online shopping carts <br />
                    are abandoned?
                </p>
                <a href="#"> Let’s do something about it </a>
            </div>
        </div>
    </div>

    <div class="row margin-bottom padding-bottom">
        
        <div class="column-md-12 widget">
            <div class="widget-inner">
                <div class="widget-header">
                    <div class="pull-left">
                        <h3 class="widget-header-title">Your campaigns</h3>
                        <span class="widget-header-label">
                            Pellentesque odio tortor elementum pharetra penatibus ac vel mauris.
                            Est felis lobortis mauris tincidunt luctus turpis luctus.
                        </span>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="action-link action-link-default">Overall</a>
                    </div>
                </div>
                <div class="widget-body">
                    <table class="table table-filter data-table display" width="100%"></table>
                </div>
            </div>
        </div>
        
    </div>

    <div class="section-header clearfix">
        <h3>More campaigns to choose from</h3>
    </div>

    <div class="section-campigns-list section-items row card-container"></div>
</div>
