<!-- prettier-ignore -->

<div class="container margin-top">
    <div class="section-header clearfix">
        <h2>You have 250 customers</h2>
        <p>
            Cras dui nibh tristique vitae nulla nunc donec. Amet in purus quis ut imperdiet. Feugiat
            aenean posuere adipiscing lacus.
        </p>
    </div>

    <div class="row">
        <div class="column-md-12 widget">
            <div class="widget-inner">
                <div class="widget-header">
                    <h3 class="widget-header-title">Customers</h3>
                    <span class="widget-header-label">Latest activity</span>
                </div>
                <div class="widget-body">
                    <table class="table table-filter data-table" data-config="tables/customers.json">
                        <thead>
                            <tr>
                                <th style="width: 20%">Name</th>
                                <th style="width: 20%">Email</th>
                                <th style="width: 15%">Customer type</th>
                                <th style="width: 10%">Orders</th>
                                <th style="width: 15%">Order value</th>
                                <th style="width: 20%">Last order</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
