<!-- prettier-ignore -->

<div class="container margin-top">
    
    <div class="section-header clearfix">
        <h2>Widgets</h2>
        <p>
            Cras dui nibh tristique vitae nulla nunc donec. Amet in purus quis ut imperdiet. Feugiat
            aenean posuere adipiscing lacus.
        </p>
    </div>

    <div class="row">
        <div class="column-md-4 widget">
            <div class="widget-inner">
                <div class="widget-header">
                    <h3 class="widget-header-title">Kids T-shirts</h3>
                    <span class="widget-header-label">8 VARIANTS created</span>
                </div>
                <div class="widget-body">
 
                </div>
            </div>
        </div>
        <div class="column-md-4 widget">
            <div class="widget-inner">
                <div class="widget-header">
                    <h3 class="widget-header-title">Kids T-shirts</h3>
                    <span class="widget-header-label">8 VARIANTS created</span>
                </div>
                <div class="widget-body">
 
                </div>
            </div>
        </div>
        <div class="column-md-4 widget">
            <div class="widget-inner">
                <div class="widget-header">
                    <h3 class="widget-header-title">Kids T-shirts</h3>
                    <span class="widget-header-label">8 VARIANTS created</span>
                </div>
                <div class="widget-body">
 
                </div>
            </div>
        </div>
    </div>
    
</div>
