
.campaign_single_heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 14px;
    &-title {
        display:block;
        float:left;
        margin:0 8px 0 0;
    }
    .alert {
        float: left;
        font-size: 10px;
        line-height: 16px;
        min-width: 70px;
        margin-right: 12px;
        
    }
}

.campaign_single_description {
    margin-bottom: 24px;
}